<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="robotiq_gripper">
  <xacro:macro name="robotiq_gripper" params="
        name
        prefix
        parent
        *origin
        sim_ignition:=false
        sim_gazebo:=false
        sim_isaac:=false
        isaac_joint_commands:=/isaac_joint_commands
        isaac_joint_states:=/isaac_joint_states
        use_fake_hardware:=false
        mock_sensor_commands:=false
        include_ros2_control:=true
        com_port:=/dev/ttyUSB0
        gripper_speed_multiplier:=1.0
        gripper_force_multiplier:=0.5
        gripper_max_speed:=0.250
        gripper_max_force:=125.0
        gripper_closed_position:=0.695">
        <xacro:include filename="$(find robotiq_description)/urdf/2f_140.ros2_control.xacro" />
        <xacro:if value="${include_ros2_control}">
            <xacro:robotiq_gripper_ros2_control
                name="${name}" prefix="${prefix}"
                sim_ignition="${sim_ignition}"
                sim_gazebo="${sim_gazebo}"
                sim_isaac="${sim_isaac}"
                isaac_joint_commands="${isaac_joint_commands}"
                isaac_joint_states="${isaac_joint_states}"
                use_fake_hardware="${use_fake_hardware}"
                mock_sensor_commands="${mock_sensor_commands}"
                com_port="${com_port}"
                gripper_speed_multiplier="${gripper_speed_multiplier}"
                gripper_force_multiplier="${gripper_force_multiplier}"
                gripper_max_speed="${gripper_max_speed}"
                gripper_max_force="${gripper_max_force}"
                gripper_closed_position="${gripper_closed_position}"/>
        </xacro:if>
        <xacro:if value="${sim_gazebo}">
            <gazebo>
                <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
                    <robot_param>robot_description</robot_param>
                    <robot_param_node>robot_state_publisher</robot_param_node>
                    <parameters>$(find robotiq_description)/config/robotiq_2f_140_classic_controllers.yaml</parameters>
                </plugin>
            </gazebo>
        </xacro:if>

        <link name="${prefix}robotiq_140_base_link">
        <inertial>
          <origin xyz="8.625E-08 -4.6583E-06 0.03145" rpy="0 0 0" />
          <mass value="0.22652" />
          <inertia ixx="0.00020005" ixy="-4.2442E-10" ixz="-2.9069E-10" iyy="0.00017832" iyz="-3.4402E-08" izz="0.00013478" />
        </inertial>
        <visual>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://robotiq_description/meshes/visual/2f_140/robotiq_2f_140_base_link.stl" />
          </geometry>
          <material name="">
            <color rgba="0.1 0.1 0.1 1" />
          </material>
        </visual>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://robotiq_description/meshes/collision/2f_140/robotiq_2f_140_base_link.stl" />
          </geometry>
        </collision>
      </link>
      <joint name="${prefix}robotiq_base_joint" type="fixed">
          <parent link="${parent}" />
          <child link="${prefix}robotiq_140_base_link" />
          <origin xyz="0 0 0" rpy="0 0 ${pi/2}" />
      </joint>

      <xacro:include filename="$(find robotiq_description)/urdf/robotiq_2f_140.xacro" />
      <xacro:finger_links prefix="${prefix}" fingerprefix="left" stroke="140"/>
      <xacro:finger_links prefix="${prefix}" fingerprefix="right" stroke="140"/>
      <xacro:finger_joint prefix="${prefix}"/>
      <xacro:right_outer_knuckle_joint prefix="${prefix}"/>
    </xacro:macro>
</robot>
